<% if params[:id] %>
	<% @user = User.find(params[:id]) %>
<% else %>
	<% @user = current_user %>
<% end %>
<a href="<%= user_path(@user) %>">
  <%= gravatar_for @user, size: 52 %>
</a>
<h1>
  <%= @user.name %>
</h1>
<span>
  <%= (link_to "view my profile", @user) if @user.id == current_user.id %>
</span>
<span>
  <%= pluralize(@user.microposts.count, "micropost") %>
</span>